.page {
    color: #5f6368;
    padding-bottom: 30px;
}

.page a:hover {
    text-decoration: none;
}

.title {
    font-size: 20px;
    color: #1a0dab;
}

a .title:hover {
    text-decoration: underline;
}

cite {
    text-decoration: none;
    color: black;
    font-style: normal;
}

cite span {
    color: #5f6368;
}